.vs-navbar.navbar-skelton {
  height: 64px;
  padding: 0rem 1.2rem;
  width: 100%;
  transition: all .5s;
  z-index: 10000;
}

@media (max-width: 1200px) {
  .navbar-sticky {
    .vx-navbar-wrapper {
      padding: 0;

      .vx-navbar {
        padding: 0rem 1.2rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .vx-navbar-wrapper {
    padding: 1.2rem;
  }

  .navbar-sticky {
    .vx-navbar-wrapper {
      padding: 0;
    }
  }
}
